body{
    background-color: #343a40;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stopwatch{
    color: #ffc107;
    font-size: 200px;
    font-weight: bold;
}

.button{
    margin: 10px;
}

.metreseconds{
    color: #ffc107;
    font-size: 200px;
    font-weight: bold;
    margin-top: 50px;
}